<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    package="com.example.mymovie">

    <dist:module dist:instant="true" />

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".tvshow.Detail_toprated"></activity>
        <activity android:name=".tvshow.Detail_popular" />
        <activity android:name=".tvshow.Detail_ontheair" />
        <activity android:name=".tvshow.Detail_airingtoday" />
        <activity android:name=".movie.Detail_toprated" />
        <activity android:name=".movie.Detail_popular" />
        <activity android:name=".movie.Detail_upcoming" />
        <activity android:name=".movie.Detail_nowplaying" /> <!-- <activity android:name=".movie.fragment_movie_upcoming"/> -->
        <!-- <activity android:name=".movie.fragment_movie_toprated" /> -->
        <!-- <activity android:name=".movie.fragment_movie_nowplaying" /> -->
        <!-- <activity android:name=".movie.fragment_movie_popular" /> -->
        <activity android:name=".movie_main" /> <!-- <activity android:name=".tvshow.fragment_tvshow_toprated" /> -->
        <!-- <activity android:name=".tvshow.fragment_tvshow_populer" /> -->
        <!-- <activity android:name=".tvshow.fragment_tvshow_ontheair" /> -->
        <!-- <activity android:name=".tvshow.fragment_tvshow_airingtoday" /> -->
        <activity android:name=".tvshow_main" />
        <activity android:name=".people.Detail" />
        <activity android:name=".people.MainActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>